<app-header></app-header>
<section>
    <div class="container">
        <div class="row">

            <button (click)="onAddNote()" type="button" class="btn btn-primary">
                Add
            </button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let note of notes; let i = index;">
                        <td>{{ note.id }}</td>
                        <td>{{ note.title }}</td>
                        <td>{{ note.desc }}</td>
                        <td>
                            <i (click)="onDeleteNote(note.id, i)" class="fa fa-times"></i>&nbsp;
                            <i (click)="onEditNote(note)" class="fa fa-edit"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<button (click)="onLogOut()">Logout</button>